body {
    
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    text-align: center;
    margin-top: 70px;
    font-family: garamond;
    font-size: 100px;
    margin-bottom: 60px;

}

.quote1 {
    text-align: center;
    font-family: garamond;
    font-size: 50px;
    /* letter-spacing: 5px; */
}

.quote2 {
    text-align: center;
    font-family: garamond;
    font-size: 50px;
}

img {
    width: 300px;
    height: 300px;
    object-fit: contain;
}